<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Login Page</title>
</head>
<body>
	<div align="center">
		<fieldset>
			<form action="loginpage" method="POST">

            <h1>Welcome to login Page</h1>
                 <br>
	             <br>
	                <table>
	                	<tr>
	                		<td>

	                           <label for="login">Username</label>
	                           <input  id="login" type="text" name="uname" placeholder=" Enter Username" required>
	                         </td>
	                    </tr>
	                    <br>

	                    <tr>
	                		<td>

	                           <label for="pasw">Password</label>
	                           <input  id="pasw" type="password" name="passw" placeholder="Enter Password" required>
	                         </td>
	                    </tr>
	                    <br>

	                    <tr>
	                    	<td>

	                    		<input type="submit" value="submit">
	                    	</td>
	                    </tr>
	                </table>
	        </form>
	        <br>
	        <p>If you are new here then <a href="signup">Sign up</a></p>
	    </fieldset>
	</div>
</body>s
</html>