<div align="center">
	<fieldset>
		<h1>Welcome to Registration Form</h1>
		<form action="addEmp" method="POST">
			<table>
				<tr>
					<td>Id</td>
					<td><input type="text" name="id" required></td>
				</tr>
				<tr>
					<td>Name</td>
					<td><input type="text" name="uname" required></td>
				</tr>
				<tr>
					<td>Contact</td>
					<td><input type="text" name="contact" required></td>
				</tr>
				<tr>
					<td>Email</td>
					<td><input type="text" name="email" required></td>
				</tr>
				<tr>
					<td>Password</td>
					<td><input type="password" name="passw" required></td>
				</tr>
				<tr>
					<td><input type="submit" value="Save"></td>
					<td><input type="reset" value="Reset"></td>
				</tr>
			</table>
		</form>
		<h1><a href="/">Login Page</a></h1>
		
	</fieldset>
</div>