<html>
    <head>
        <style>
            body
            {
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-size: cover;
                background-image:url({{url_for('static',filename='train4.jpg')}})

            }
			h1{
				color: red;
			}
        </style>
    
    <body>

<div align="center">
		<h1>Update Passenger</h1>
		<form action="/passengerupdate/{{passenger[0]}}" method="POST">
			<table>
				
				<tr>
					<td>Fullname</td>
					<td><input type="text" name="pname" placeholder="Enter your FullName" value="{{passenger[1]}}" required></td>
				</tr>
				<tr>
					<td>Age</td>
					<td><input type="text" name="age"  placeholder="Enter your Age" value="{{passenger[2]}}"required></td>
				</tr>
				<tr>
					<td>Train Number</td>
					<td><input type="text" name="ptrainno"  placeholder="Enter your Train no" value="{{passenger[3]}}" required></td>
				</tr>
				<tr>
					<td>Train Name</td>
					<td><input type="text" name="ptrainname"  placeholder="Enter your Train name" value="{{passenger[4]}}" required></td>
				</tr>
                <tr>
					<td>Class</td>
					<td><input type="text" name="pclass"  placeholder="Enter your Class" value="{{passenger[5]}}" required></td>
				</tr>
                <tr>
					<td>Source</td>
					<td><input type="text" name="psource"  placeholder="Enter your Source" value="{{passenger[6]}}" required></td>
				</tr>
                <tr>
					<td>Destination</td>
					<td><input type="text" name="pdest"  placeholder="Enter your Destination" value="{{passenger[7]}}" required></td>
				</tr>
                <tr>
					<td>Fare</td>
					<td><input type="text" name="pamt"  placeholder="Enter your Fare" value="{{passenger[8]}}" required></td>
				</tr>
                <tr>
					<td>DOJ</td>
					<td><input type="date" name="pdoj"  placeholder="Enter your Status" value="{{passenger[9]}}" required></td>
				</tr>
                <tr>
					<td>Status</td>
					<td><input type="text" name="pstatus"  placeholder="Enter your Status" value="{{passenger[10]}}" required></td>
				</tr>
                
				<tr>
					<td><input type="submit" value="Update"></td>
				</tr>
			</table>
			<br>
				<input type="button" value="go back!" onclick="history.go(-1)">
		</form>
	</fieldset>
</div>
	</body>
	</head>
</html>